<body>
    {{#if user}}
        <h3>Bienvenido, 
            <strong>
                {{user.first_name}}
            </strong>
        </h3>
        <h3>Carrito ID: 
            <strong>
                {{user.cart._id}}
            </strong>
        </h3>
    {{else}}
        <h3>
            <br>
            Inicia sesión para acceder a los productos
            <a href="/login" class="btn btn-info">Iniciar</a>
        </h3>
    {{/if}}

    <a href="">ASDASDASDASDAS HOLA MUNDO</a>
    <a href=""></a>
    <a href=""></a>
</body>
