<footer class="footerContainer">
    <div class="grupo1">
        <div class="cajaFooter">
            <figure>
                <a target="_blank" href="https://www.youtube.com/watch?v=RXKabdUBiWM">
                    <img src="https://c.tenor.com/ZAMoMuQgf9UAAAAd/tenor.gif" alt="">
                </a>
            </figure>
        </div>
        <div class="cajaFooter">
            <a target="_blank" href="https://pkm-battles-1-1.netlify.app/"><h4 class="parrafoFooter">Pkm Battles</h4></a> 
            <a target="_blank" href="https://pkm-battles-1-1.netlify.app/"><p class="parrafoFooter">Accede a la beta!!</p></a> 
        </div>
        <div class="cajaFooter">
            <h5>NUESTRAS REDES</h5>
            <div class="redes">
                <a target="_blank" href="https://www.instagram.com/nicolas_esteban87/" class="fa fa-instagram"></a>
                <a target="_blank" href="https://github.com/NicolasReschke" class="fa fa-github"></a>
                <a target="_blank" href="https://www.linkedin.com/in/nicolas-reschke-14b904272/" class="fa fa-linkedin"></a>
            </div>
        </div>
    </div>
    <div class="grupo2">
        <small> 2024 - <b>Reschke Nicolas</b></small>
    </div>
</footer>